flows.json
[
    {
        "id": "8653aa283530f2e7",
        "type": "tab",
        "label": "Jogo da Velha ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2455c7544064d86f",
        "type": "group",
        "z": "8653aa283530f2e7",
        "name": "Simulação",
        "style": {
            "label": true
        },
        "nodes": [
            "74783da968e72a86",
            "fb0f40b4d8537818",
            "af85e809eaeb0cce",
            "9e20fbe434d428f3",
            "f38a44223af52a42",
            "0571da6305803337"
        ],
        "x": 14,
        "y": 99,
        "w": 172,
        "h": 382
    },
    {
        "id": "ec9c59acd75aad0c",
        "type": "group",
        "z": "8653aa283530f2e7",
        "name": "Tabuleiro",
        "style": {
            "label": true
        },
        "nodes": [
            "380d76b30af88d33",
            "db87ccdeef9b88dc",
            "f870ff6db6bac5f2",
            "62749db4b609499c",
            "6524a5401c3833fc",
            "93d8fe66a6753e7b",
            "578b32277f78ee0b",
            "2472e63801332f68",
            "c861b08ca8760b3e",
            "22e835bd4e3a21b9",
            "a8c2505cbce0b96f",
            "84850af026bd1d15",
            "7fcc959a8c8657ac",
            "e48cb41823a2f1c8",
            "51849ccd40dd4ff7",
            "74a540b6746df437",
            "d45bb6463a8054ff",
            "7a29bfd01bf7dddc",
            "046bc8fb89acad49",
            "5f23bd2abcc166f1"
        ],
        "x": 294,
        "y": 59,
        "w": 632,
        "h": 462
    },
    {
        "id": "2ff285b65d9c0f9b",
        "type": "group",
        "z": "8653aa283530f2e7",
        "name": "Legenda ",
        "style": {
            "label": true
        },
        "nodes": [
            "85a992150cdff01c",
            "bdf98d9e19c6c1a2"
        ],
        "x": 14,
        "y": 519,
        "w": 172,
        "h": 122
    },
    {
        "id": "5c5408c967a8c287",
        "type": "group",
        "z": "8653aa283530f2e7",
        "name": "Jogada ",
        "style": {
            "label": true
        },
        "nodes": [
            "62b63de10b4159e3",
            "12723353a79dfb65",
            "5e4aa84ac1b4cb18"
        ],
        "x": 294,
        "y": 539,
        "w": 532,
        "h": 82
    },
    {
        "id": "74783da968e72a86",
        "type": "inject",
        "z": "8653aa283530f2e7",
        "g": "2455c7544064d86f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"111000000\" }",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "380d76b30af88d33"
            ]
        ]
    },
    {
        "id": "380d76b30af88d33",
        "type": "json",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "a8c2505cbce0b96f",
                "84850af026bd1d15",
                "7fcc959a8c8657ac",
                "e48cb41823a2f1c8",
                "51849ccd40dd4ff7",
                "74a540b6746df437",
                "d45bb6463a8054ff",
                "7a29bfd01bf7dddc",
                "046bc8fb89acad49",
                "5f23bd2abcc166f1"
            ]
        ]
    },
    {
        "id": "db87ccdeef9b88dc",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 1,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "0",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "fb0f40b4d8537818",
        "type": "inject",
        "z": "8653aa283530f2e7",
        "g": "2455c7544064d86f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"000111000\" }",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "380d76b30af88d33"
            ]
        ]
    },
    {
        "id": "af85e809eaeb0cce",
        "type": "inject",
        "z": "8653aa283530f2e7",
        "g": "2455c7544064d86f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"000000111\" }",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "380d76b30af88d33"
            ]
        ]
    },
    {
        "id": "9e20fbe434d428f3",
        "type": "inject",
        "z": "8653aa283530f2e7",
        "g": "2455c7544064d86f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"111222111\" }",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "380d76b30af88d33"
            ]
        ]
    },
    {
        "id": "f38a44223af52a42",
        "type": "inject",
        "z": "8653aa283530f2e7",
        "g": "2455c7544064d86f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"222111222\" }",
        "payloadType": "str",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "380d76b30af88d33"
            ]
        ]
    },
    {
        "id": "0571da6305803337",
        "type": "inject",
        "z": "8653aa283530f2e7",
        "g": "2455c7544064d86f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"555555111\" }",
        "payloadType": "str",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "380d76b30af88d33"
            ]
        ]
    },
    {
        "id": "f870ff6db6bac5f2",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 2,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "1",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "62749db4b609499c",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 3,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "2",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "6524a5401c3833fc",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 4,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "3",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "93d8fe66a6753e7b",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 5,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "4",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "578b32277f78ee0b",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 6,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "5",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "2472e63801332f68",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 7,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "6",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "c861b08ca8760b3e",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 8,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "7",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "22e835bd4e3a21b9",
        "type": "ui_led",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "order": 9,
        "group": "89fee119e4c1f11f",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "8",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "a8c2505cbce0b96f",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[0];",
        "func": "msg.payload = msg.payload.tabuleiro[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "db87ccdeef9b88dc"
            ]
        ]
    },
    {
        "id": "84850af026bd1d15",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[1];",
        "func": "msg.payload = msg.payload.tabuleiro[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "f870ff6db6bac5f2"
            ]
        ]
    },
    {
        "id": "7fcc959a8c8657ac",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[2];",
        "func": "msg.payload = msg.payload.tabuleiro[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "62749db4b609499c"
            ]
        ]
    },
    {
        "id": "e48cb41823a2f1c8",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[3];",
        "func": "msg.payload = msg.payload.tabuleiro[3];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "6524a5401c3833fc"
            ]
        ]
    },
    {
        "id": "51849ccd40dd4ff7",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[4];",
        "func": "msg.payload = msg.payload.tabuleiro[4];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "93d8fe66a6753e7b"
            ]
        ]
    },
    {
        "id": "74a540b6746df437",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[5];",
        "func": "msg.payload = msg.payload.tabuleiro[5];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "578b32277f78ee0b"
            ]
        ]
    },
    {
        "id": "d45bb6463a8054ff",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[6];",
        "func": "msg.payload = msg.payload.tabuleiro[6];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 400,
        "wires": [
            [
                "2472e63801332f68"
            ]
        ]
    },
    {
        "id": "7a29bfd01bf7dddc",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[7];",
        "func": "msg.payload = msg.payload.tabuleiro[7];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 440,
        "wires": [
            [
                "c861b08ca8760b3e"
            ]
        ]
    },
    {
        "id": "046bc8fb89acad49",
        "type": "function",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": " msg.payload.tabuleiro[8];",
        "func": "msg.payload = msg.payload.tabuleiro[8];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "22e835bd4e3a21b9"
            ]
        ]
    },
    {
        "id": "5f23bd2abcc166f1",
        "type": "debug",
        "z": "8653aa283530f2e7",
        "g": "ec9c59acd75aad0c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "85a992150cdff01c",
        "type": "ui_button",
        "z": "8653aa283530f2e7",
        "g": "2ff285b65d9c0f9b",
        "name": "",
        "group": "a8190c6e085ca3b3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jogador 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "red ",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bdf98d9e19c6c1a2",
        "type": "ui_button",
        "z": "8653aa283530f2e7",
        "g": "2ff285b65d9c0f9b",
        "name": "",
        "group": "a8190c6e085ca3b3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jogador 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "62b63de10b4159e3",
        "type": "ui_text_input",
        "z": "8653aa283530f2e7",
        "g": "5c5408c967a8c287",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3f313a25b3ac9db7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "5e4aa84ac1b4cb18"
            ]
        ]
    },
    {
        "id": "12723353a79dfb65",
        "type": "ui_button",
        "z": "8653aa283530f2e7",
        "g": "5c5408c967a8c287",
        "name": "",
        "group": "3f313a25b3ac9db7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "jogada",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 580,
        "wires": [
            [
                "1dde1af1d57dfc9f"
            ]
        ]
    },
    {
        "id": "1dde1af1d57dfc9f",
        "type": "debug",
        "z": "8653aa283530f2e7",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "5e4aa84ac1b4cb18",
        "type": "change",
        "z": "8653aa283530f2e7",
        "g": "5c5408c967a8c287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jogada",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "12723353a79dfb65"
            ]
        ]
    },
    {
        "id": "89fee119e4c1f11f",
        "type": "ui_group",
        "name": "Tabuleiro",
        "tab": "42c41ccb8ee18308",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8190c6e085ca3b3",
        "type": "ui_group",
        "name": "Legenda",
        "tab": "42c41ccb8ee18308",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f313a25b3ac9db7",
        "type": "ui_group",
        "name": "Jogada",
        "tab": "42c41ccb8ee18308",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42c41ccb8ee18308",
        "type": "ui_tab",
        "name": "Jogo da Velha ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]